header {
    background-color: red;
    border-top: 5px solid #F9A828;
    border-left: 5px solid #F9A828;
    border-right: 5px solid #F9A828;
    border-image: linear-gradient(to right, #F9A828, transparent) 1;
  }

  header nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
  }


.tacos {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 20px;
}

.tacos1 {
	position: relative;
	overflow: hidden;
}

img {
	width: 50%;
	height: auto;
	transition: transform 0.5s, filter 0.5s;
}

.tacos1 h3 a {
    color: green;
    text-decoration: none;
  }

footer {
    background-color: lightgreen;
    padding: 20px;
}